/* -----------variables--------- */
:root {
  --primary: #010B13;
  --secondary: #32174D;
  --teritiary: #483C32;
  --text-primary: #E5E4E2;
  --text-secondary: #708090;
  --text-teritiary: #F5F5F5;
}

.contact-us-page {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: var(--primary);
}