/* -----------variables--------- */
:root {
  --primary: #010B13;
  --secondary: #32174D;
  --teritiary: #483C32;
  --text-primary: #E5E4E2;
  --text-secondary: #708090;
  --text-teritiary: #F5F5F5;
}

/* hero styles */

.hero {
  height: calc(100vh - 70px);
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.hero-container {
  border-top: 1px var(--text-primary) solid;

  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero-heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-desc {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

/* welcome section styles */

.welcome {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.welcome-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px var(--text-primary) solid;

}

.welcome-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (min-width:720px) {
  .welcome-heading {
    font-size: 3rem;
  }

  .welcome-desc {
    font-size: 1.5rem;
    padding: 0 4rem;
  }
}

/* Specialization styles */

.specialization {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.specialization-container {
  padding-top: 2rem;
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specialization-heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;

}

@media (min-width: 720px) {
  .specialization-container {
    flex-direction: row;
    gap: 2rem;
    /* overflow-x: scroll; */
  }
}

/* specialization cards style */
.card {
  width: 250px;
  height: 400px;
  margin-bottom: 2rem;
  border: 2px solid var(--text-secondary);
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--text-teritiary);
  transition: all ease-in-out 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.card-heading {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: var(--text-primary) 1px solid;
}

/* partners */

.partners {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 0 1rem;
}

.partners-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 720px) {
  .partners {
    height: max-content;
  }

  .partners-heading {
    margin: 4rem 1.5rem;
  }

  .partners-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

  }
}

/* partner card styles */

.partner-card {
  height: 200px;
  width: 250px;
  padding: 0.5rem 1rem;
  border: 1px var(--text-primary) solid;
  margin-bottom: 2rem;
  transition: 0.5s linear;
}

.partner-card:hover {
  transform: scale(1.1);
}

.partner-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-card-image {
  height: 100px;
  width: 100px;
  padding-bottom: 0.5rem;
  border-bottom: 1px var(--text-primary) solid;
  object-fit: contain;
  margin-bottom: 1rem;
}

.partner-card-name {
  font-weight: bold;
}

.partner-card-btn {
  transition: all 0.5s ease-in-out;
  padding: 0.2rem 0.5rem;
}

.partner-card-btn:hover {
  background-color: var(--secondary);
}

/* -------clients styles--------- */

.clients {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.clients-heading {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0rem;
}

.clients-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 720px) {
  .clients {
    height: max-content;
  }

  .clients-heading {
    margin: 4rem 1.5rem;
  }

  .clients-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4rem;
  }
}

/* client cards styles */

.client-card {
  height: 150px;
  width: 150px;
  border: solid var(--text-primary) 1px;
  padding: 0.5rem;
}

.client-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-card-heading {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.client-card-btn {
  transition: 1s ease-in-out;
}

.client-card-btn:hover {
  transform: scale(1.1);
}