/* -----------variables--------- */
:root {
  --primary: #010B13;
  --secondary: #32174D;
  --teritiary: #483C32;
  --text-primary: #E5E4E2;
  --text-secondary: #708090;
  --text-teritiary: #F5F5F5;
}

/* hero styles */

.hero {
  height: calc(100vh - 70px);
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.hero-container {
  border-top: 1px var(--text-primary) solid;

  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.hero-heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-desc {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

/* welcome section styles */

.welcome {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.welcome-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px var(--text-primary) solid;

}

.welcome-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Specialization styles */

.specialization {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
}

.specialization-container {
  border-top: 1px var(--text-primary) solid;
  padding-top: 2rem;
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specialization-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* specialization cards style */
.card {
  width: 250px;
  height: 400px;
  margin-bottom: 2rem;
  border: 2px solid var(--text-secondary);
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--text-teritiary);
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.card-heading {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
}