/* -----------variables--------- */
:root {
  --primary: #010B13;
  --secondary: #32174D;
  --teritiary: #483C32;
  --text-primary: #E5E4E2;
  --text-secondary: #708090;
  --text-teritiary: #F5F5F5;
}

/* styles */

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text-primary)
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-heading {
  font-size: 1.25rem;
}

.navbar-ul {
  display: none;
}

.mobile-nav-ul {
  position: absolute;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100vh;
  background-color: var(--primary);
  color: var(--text-secondary);
  padding: 1rem;
  width: 400px;
}

.mobile-nav-item {
  display: grid;
  place-content: center;
}

.mobile-nav-item:hover {
  background-color: var(--primary);
}

.mobile-nav-link {
  height: inherit;
  width: 100%;
  font-size: 1.5rem;
}


@media (min-width: 720px) {
  .mobile-nav-toggle-btn {
    display: none;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .navbar-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .nav-item {
    padding: 0.5rem;
    background-color: var(--secondary);
  }

  .nav-item:hover {
    background-color: var(--teritiary);
    color: var(--text-teritiary);
  }

  .nav-link {
    height: inherit;
    width: inherit;
  }
}